body {
    background: #f4f7fb;
}

.main-content {
  flex: 1;
  padding: 20px 40px;
  margin-left: 270px;
  font-family: 'Poppins', Arial, sans-serif;
}

/* Caretaker header */
.caretaker-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  color: #1e88e5;
}

.caretaker-header h1 {
  color: #1e88e5;
  font-size: 28px;
}

.add-btn {
  background: #1e88e5;
  color: #fff;
  border: none;
  padding: 8px 14px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
}

.add-btn:hover {
  background: #1565c0;
 
}

/* Search bar */
.search-wrapper {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 12px;
  padding: 8px 12px;
  margin-bottom: 20px;
}

.search-wrapper i {
  color: #545b66;
  margin-right: 8px;
}

.search-wrapper input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  font-size: 14px;
  color: #545b66;
}

/* Table */
.table-container {
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  padding: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  overflow: hidden;
}

thead {
  background: #1e88e5;
}

th {
    font-size: 18px;
    font-weight: 700;
    color: white;
}

th, td {
  padding: 14px;
  text-align: left;
  border-bottom: 1px solid #eee;
}


tbody tr:hover {
  background-color: #f9f9f9;
}

.status {
  border-radius: 12px;
  font-size: 16px;
}

.status.active {
  color: white;
  background: #00bfa5;
  padding: 4px 16px;
}

.status.inactive {
  background: #ea0b34;
  color: white;
  padding: 4px 12px;
}

.actions i {
  margin-right: 12px;
  cursor: pointer;
  transition: color 0.3s ease;
  font-size: 18px;
}
.actions i:hover {
  color: #000;
}

.actions .bx-edit:hover {
  color: #0056b3;
}

.actions .bx-trash:hover {
    color: #a71d2a;
}

.filter-bar form{
  display:flex;
  gap:10px;
  flex-wrap:wrap;
  margin: 15px 0;
}

.filter-bar select, .filter-bar input{
  padding:8px 10px;
  border:1px solid #ddd;
  border-radius:8px;
}

.filter-bar button{
  padding:8px 14px;
  border:none;
  border-radius:8px;
  background:#1e88e5;
  color:#fff;
  cursor:pointer;
}

.reset-btn{
  padding:8px 14px;
  border-radius:8px;
  background:#eee;
  text-decoration:none;
  color:#333;
}

.pagination{
  display:flex;
  gap:8px;
  justify-content:center;
  margin-top:15px;
}

.pagination a{
  padding:7px 12px;
  border:1px solid #ddd;
  border-radius:8px;
  text-decoration:none;
  color:#333;
}

.pagination a.active{
  background:#1e88e5;
  color:#fff;
  border-color:#1e88e5;
}