* {
  font-family: 'Poppins', Arial, sans-serif;
  font-weight: 300;
}

body {
    background: #f4f7fb;
}

/* Main content */
.content {
  margin-left: 270px;
  padding: 20px 40px;
  flex: 1;
}

h1 {
  color: #1E88E5;
  font-size: 28px;
}

.page-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
   color: #1E88E5;
}

/* Search box */
.search-box {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 12px;
  padding: 8px 12px;
  margin-bottom: 20px;
}

.search-box i {
  color: #545b66;
  margin-right: 8px;
}

.search-box input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
  width: 100%;
  color: #545b66;
}

h2 {
    font-size: 20px;
    font-weight: 600;
    color: rgb(13, 13, 85);
}

/* Table */
.table-container {
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  padding: 15px;
}

.caretaker-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  overflow: hidden;
}

.caretaker-table thead {
  background: #1e88e5;
}

.caretaker-table th {
    font-size: 18px;
    font-weight: 700;
    color: white;
}

.caretaker-table th,
.caretaker-table td {
  text-align: left;
  padding: 14px;
  border-bottom: 1px solid #eee;
}

/* Status badges */
.status {
  border-radius: 12px;
  font-size: 16px;
}

.status.available {
  color: white;
  background: #00bfa5;
  padding: 4px 16px;
}

.status.duty {
  background-color: #0f89fc;
  color: white;
  padding: 4px 18px;
}

.status.unavailable {
  background: #ea0b34;
  color: white;
  padding: 4px 7px;
}

.status.leave {
  background-color: #deb752;
  color: white;
  padding: 4px 13px;
}
