* {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif ;
}

body {
  display: flex;
  height: 100vh;
  background: #f5f5f5;
}

/* Sidebar */
.sidebar {
  width: 240px;
  height:100vh;
  background: linear-gradient(to bottom, #1eb1f7, #0aa38f);
  padding: 20px 0;
  color: white;
  position: fixed;
   top: 0;
  left: 0;
   overflow-y: auto;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
    flex-direction: column;
}





.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 18px;
}

.nav-links li {
  margin: 10px 0;
}

.nav-links li a {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 12px;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  font-size: 15px;
  transition: background 0.3s;
}

<<<<<<< HEAD

.menu a:hover,
.menu a.active {
  background: rgba(255,255,255,0.3);
}


.arrow {
  margin-left: auto;
  transition: transform 0.3s;
}

.submenu-list {
  list-style: none;
  padding-left: 40px;
  display: none;
  flex-direction: column;
}

.submenu-list li a {
  padding: 8px 20px;
  font-size: 14px;
  color: #f1f1f1;
}

.submenu.open .submenu-list {
  display: flex;
}

.submenu.open .arrow {
  transform: rotate(180deg);
}

.logout {
  padding: 30px 20px;
=======
.nav-links li a i {
>>>>>>> 1c913aaaa248cb8bdbf13aa5c6646aff1fac4701
  
  font-size: 20px;
}

.nav-links li.active a,
.nav-links li a:hover {
  background: rgba(255, 255, 255, 0.3);
}

/* Main content */
.main-content {
  flex: 1;
  padding: 30px;
}

/* Active link highlight */
/* Active main menu link */


.sidebar .menu li a.active {
  background:rgba(255, 255, 255, 0.3);
  margin: 0 10px 10px 10px;        /* reduces width from left and right */
  border-radius: 10px;
  
}

