body {
    background: #f4f7fb;
}

.main-content {
  flex: 1;
  padding: 20px 40px;
  margin-left: 270px;
  font-family: 'Poppins', Arial, sans-serif;
}

/* Caretaker header */
.caretaker-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  color: #1e88e5;
}

.caretaker-header h1 {
  color: #1e88e5;
  font-size: 28px;
}

.add-btn {
  background: #1e88e5;
  color: #fff;
  border: none;
  padding: 8px 14px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
}

.add-btn:hover {
  background: #1565c0;
 
}

/* Search bar */
.search-wrapper {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 12px;
  padding: 8px 12px;
  margin-bottom: 20px;
}

.search-wrapper i {
  color: #545b66;
  margin-right: 8px;
}

.search-wrapper input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  font-size: 14px;
  color: #545b66;
}

/* Table */
.table-container {
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  padding: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  overflow: hidden;
}

thead {
  background: #1e88e5;
}

th {
    font-size: 18px;
    font-weight: 700;
    color: white;
}

th, td {
  padding: 14px;
  text-align: left;
  border-bottom: 1px solid #eee;
}


tbody tr:hover {
  background-color: #f9f9f9;
}

.status {
  border-radius: 12px;
  font-size: 16px;
}

.status.active {
  color: white;
  background: #00bfa5;
  padding: 4px 16px;
}

.status.inactive {
  background: #ea0b34;
  color: white;
  padding: 4px 12px;
}

.actions i {
  margin-right: 12px;
  cursor: pointer;
  transition: color 0.3s ease;
  font-size: 18px;
}
<<<<<<< HEAD
.actions i:hover {
=======

.actions .bx-show {
    color: #333;
}

.actions .bx-edit {
  color: #007bff;
}

.actions .bx-trash {
    color: red;
}

.actions .bx-show:hover {
>>>>>>> 54bb2ecc0700a189964a6d2d44b5aef46cdcc4cc
  color: #000;
}

.actions .bx-edit:hover {
  color: #0056b3;
}

.actions .bx-trash:hover {
    color: #a71d2a;
}