* {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
}

/* Main Content */
.content {   
  flex: 1;
  padding: 20px;
  margin-left: 270px;
}

.content h1{
  
   color: #1e88e5;
}

/* ===== Filter Section ===== */

.filter-container {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 25px;
  padding-top:5px;
}

 .caregiver {
  display: flex;
  align-items: center;
  gap: 100px;
  margin-bottom: 20px;
}

 .caregiver1{
  display: flex;
  align-items: center;
  gap: 100px;
  margin-bottom: 20px;
}

.filter-row select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 300px;
  font-size: 15px;
}

.filter-row , h3{
  font-weight: 600;
  display: block;
}

.apply-btn {
  background-color: #4b45c2;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s ease;
  border-radius:25px;
}

.apply-btn:hover {
  background-color: #4338ca;
}

.leave{
  padding-left:20px;
  padding-bottom: 10px;
  font-weight: 600;
}

/* Table */
table {
  width: 90%;
  border-collapse: collapse;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  margin-left: 26px;
  
}

thead {
  background: #f1f4f8 ;
}

th{
  font-weight:300;
   font-size: 18px;
   background:#f1f1f1;
   padding: 20px 20px 20px 15px;
   text-align: left;
}
td {
  padding: 20px 20px 20px 15px;
  text-align: left;
  border-bottom: 1px solid #eee;
  background: #fff;
}



/* Status Labels */
.status {
  padding: 8px 40px;
  border-radius: 15px;
  font-size: 0.85rem;
  font-weight: bold;
  text-transform: capitalize;
}
.status.pending {
  background-color: #fff5c3;
  color: #c58d00;
}
.status.approved {
  background-color: #d3f8e4;
  color: #24ab44;
  padding-right: 30px;
}
.status.rejected {
  background: #fde2e7;
  color: #a4161a;
  padding-right: 37px;
}
