* {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
}

/* Main Content */
.content {   
  flex: 1;
  padding: 20px;
  margin-left: 270px;
}

h1{
   margin: 10px 0px 30px 0px;
   font-size: 28px;
   font-weight: 700;
}

/* Table */
table {
  width: 90%;
  border-collapse: collapse;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  margin-left: 26px;
  
}

thead {
  background: #f1f4f8 ;
}

th{
   font-weight: bold;
   font-size: 18px;
   background:#f1f1f1;
   padding: 20px 20px 20px 15px;
   text-align: left;
}
td {
  padding: 20px 20px 20px 15px;
  text-align: left;
  border-bottom: 1px solid #eee;
  background: #fff;
}



/* Status Labels */
.status {
  padding: 8px 40px;
  border-radius: 15px;
  font-size: 0.85rem;
  font-weight: bold;
  text-transform: capitalize;
}
.status.pending {
  background-color: #fff5c3;
  color: #c58d00;
}
.status.approved {
  background-color: #d3f8e4;
  color: #24ab44;
  padding-right: 30px;
}
.status.rejected {
  background: #fde2e7;
  color: #a4161a;
  padding-right: 37px;
}
