* {
  font-family:Arial, Helvetica, sans-serif;
  
}

.content{
   flex:1;
   padding: 20px;
   margin-left: 270px;
}

h1 {
  margin-bottom: 10px;
  font-size: 28px;
  
}

.content p {
  color: #252424;
}


.filters {
  background: white;
  padding: 15px;
  padding-bottom: 40px;
  border-radius: 12px;
  max-width: 1000px;
  margin-left: 50px;
}

.filter-box {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.filter-row {
  display: flex;
  flex-direction: row;
  gap: 50px;
  
}


.filter-group {
  display: flex;
  flex-direction: column;
  
}

.filter-group label {
  font-weight: 700;
  margin-bottom: 5px;
  gap: 10px;
}

.filter-box select,
.filter-box button {
  padding: 6px 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 150px; /* consistent smaller width */
  background: white;
}

.filter-box button {
  background: #1e88e5;
  color: white;
  font-weight: 600;
 border: none;
  cursor: pointer;
}

.filter-box button:hover {
  background: #1b7ed3;
  
}

h3 {
  font-size: 18px;
  font-weight: 600;
  color: black;
}

.two{
  margin-bottom: 40px;
  font-size: 22px;
  font-weight: 600;
  color: black;
}

.caretakers {
   margin-left: 50px;
   margin-right: 300px;
   display: grid;
   grid-template-columns: repeat(3, minmax(250px, 1fr));
   gap: 100px;

}

.card {
  background: white;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  padding: 15px;
  border: 1px solid #CCC;
  width:300px;
  
}

.card:hover {
  transform: scale(1.0);
}

.card img {
  width: 100%;
  border-radius: 12px;
}

.card h3 {
  margin: 10px 0 3px;
  font-weight: 700;
}

.rating {
  color: #f39c12;
  font-weight: bold;
}

.exp-loc {
  display: flex;
  gap: 40px;  
  font-weight: 700;
  color: black;
  font-size: 17px;
}

.exp-loc p {
  margin: 0;   
}

.card-buttons {
  display: flex;
  justify-content: right;
  gap: 20px;         /* space between buttons */
    /* space above buttons */
}

.card-buttons button {
  padding: 8px 16px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
  
}


.view-btn {
  background-color: #1e88e5;
  color: white;
}

.book-btn {
  background: #00bfa5;
  color: white;
}