/* General header styling */
.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg, #1E88E5, #00BFA5);
  padding: 10px 20px;
  color: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  position: sticky;
  top: 0;
  z-index: 1000;
  max-height: 40px;
  margin-top: 0px;
}
body{
  margin: 0;
}
.left-section {
  display: flex;
  align-items: center;
  gap: 20px; /* smaller space between search and icons */
}
/* Sidebar toggle */
.sidebar-toggle {
  background: none;
  border: none;
  font-size: 20px;
  color: white;
  cursor: pointer;
  margin-right: 0;
}
/* Logo + Company name */
.logo-section {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.company-name {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
.right-section {
  display: flex;
  align-items: center;
  gap: 20px; /* smaller space between search and icons */
}
/* Search bar */
.search-bar {
  flex: 1;
  display: flex;
  justify-content: center;
  position: relative;
  max-width: 500px;
}
.search-bar input {
  width: 100%;
  padding: 8px 0px 8px 15px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 14px;
  
}
.search-bar i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #555;
}
/* Right icons */
.header-icons {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  cursor: pointer;
}

.header-icons i {
  color: #222;
  background: #fff;
  padding: 6px;
  border-radius: 50%;
  transition: 0.2s ease;
}

.header-icons i:hover {
  background: #eee;
}

.notification-wrapper {
  position: relative;
  display: inline-block;
  margin-right: 15px;
}

.notif-btn {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  font-size: 18px;
  color: #333;
}

.notif-count {
  position: absolute;
  top: -5px;
  right: -5px;
  background: #ff3b30;
  color: white;
  font-size: 12px;
  padding: 2px 5px;
  border-radius: 50%;
}

.notif-dropdown {
  display: none;
  position: absolute;
  right: 0;
  top: 40px;
  width: 250px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  z-index: 100;
}

.notif-dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 300px;
  overflow-y: auto;
  color: black;
}

.notif-dropdown ul li {
  padding: 10px;
  border-bottom: 1px solid #f0f0f0;
  font-size: 14px;
  cursor: pointer;
}

.notif-dropdown ul li:hover {
  background: #f4f7fa;
}

.see-all {
  text-align: center;
  padding: 8px;
  border-top: 1px solid #ddd;
}

.see-all a {
  text-decoration: none;
  color: #00bfa5;
  font-weight: 200;
  font-size: 16px;
}